.v-theme
  &--dark, &--light
    transition: 1s
.v-application
  &.v-theme--dark
    background: #1d2026
  &.v-theme--light
    background: #e1eff7

html
  max-height: 100vh
  overflow: hidden !important

.pointer
  cursor: pointer

.swal2-container
  z-index: 9999 !important